<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.9.1/qs.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>
<body>

    <div id="main" @createPCB="console.log(123)">

        <div class="pcb-queue" v-for="(q, index) in queues" :style="{top: (index+1)*150 + 'px'}">
            2^{{index}}个时间片
        </div>

        <div class="pcb" v-for="(p, idx) in pcbList" :style="{top: p === processing? '10px' : p.pri * 150 - 20 + 'px', left: p === processing? '250px' : (queues[p.pri - 1].indexOf(p) + 1)* 160 + 'px'}"
             :key="p.name">
            <div>
            进程名：{{p.name}}
            </div>
            <div>
            所需时间片： {{p.needTime}}
            </div>
            <div>
            使用时间片：{{p.used}}
            </div>
            <div>
            状态：{{p.status}}
            </div>
        </div>
        <div id="input-list">
            <div class="input-list-item" v-for="item in createList" @click="createPCB(item)">增加{{item}}时间片长度任务</div>
        </div>
    </div>


</body>
<script src="element.js"></script>
</html>