#main {
    height: 700px;
    position: relative;
    width: 1500px;
    float: left;
    background-color: #fff;
}

#input-list {
    width: 200px;
    float: right;
    margin: 70px 30px;
}

.input-list-item {
    width: 180px;
    /*height: 30px;*/
    /*line-height: 30px;*/
    /*background-color: #fff;*/
    /*box-shadow: 0 0 5px #aaa;*/
    margin: 5px auto;
    /*text-align: center;*/
    /*cursor: pointer;*/
}
.input-list-item:hover {
    background-color: #f1f1f1;
}

.pcb-queue {
    position: absolute;
    height: 100px;
    width: 1000px;

    /*margin-bottom: 20px;*/
    /*background-color: #000;*/
}

.pcb{
    width: 150px;
    height: 90px;
    /*float: left;*/
    position: absolute;
    /*display: inline-block;*/
    top: -30px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px #e6a23c;
    padding: 10px 0;
    transition: 0.3s;

}
.pcb > div {
    text-align: center;
    /*margin: auto;*/
}

.processing {
    box-shadow: 0 0 5px #13ce66;
}