<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实验二</title>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/vue.js"></script>
    <script src="index.js"></script>
    <link rel="stylesheet" href="index.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../static/css/element.css">
    <script src="../../static/js/element.js"></script>
</head>
<body>
    <div id="main" >
        <div id="serve-type-select">
            <el-radio v-model="serveType" :label="1" :disabled="isRunning" >首次适应</el-radio>
            <el-radio v-model="serveType" :label="2" :disabled="isRunning">循环首次适应</el-radio>
        </div>
        <div id="btn-bar">
            <el-button type="primary" @click="process" :disabled="isRunning">开始</el-button>
            <el-button type="primary" @click="reset" :disabled="isRunning">重置</el-button>
        </div>
        <div class="display-area">

            <el-table
                    :data="memTable"
                    :row-class-name="memTableClassName"
                    style="width: 100%">
                <el-table-column
                        type="index"
                        label="分区号"
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="partitionAddr"
                        label="起始地址">
                </el-table-column>
                <el-table-column
                        prop="partitionSize"
                        label="分区大小">
                </el-table-column>

                <el-table-column
                        prop="message"
                        label="状态">
                </el-table-column>
            </el-table>
        </div>
    </div>
</body>
</html>