#serve-type-select {
    text-align: center;
    margin-top: 25px;
}

.display-area {
    width: 60%;
    margin: 30px auto;

}

#btn-bar {
    margin: 20px;
}

.el-table .free-row {
    background: #f0f9eb;
}

.el-table .inuse-row {
    background: oldlace;
}



.empty-data{
    margin-top: 150px;
    text-align: center;
    color: dodgerblue;
    opacity: .3;
}
.empty-data .empty-box{
    font-size: 128px;
    padding-bottom: 25px;
}
.empty-data .empty-data-text{
    font-size: 36px;
}